.theme1Arrow{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.dd-container.active .theme1Arrow{
    border-top: 5px solid #4acc8e;
}

.theme1activeOption{
    background: #4acc8e;
    border-bottom: 1px solid #232f43;
}


.theme2Arrow{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid blue;
}

.dd-container.active .theme2Arrow{
    border-top: 5px solid purple;
}

.theme2activeOption{
    background: grey;
    border-bottom: 1px solid #232f43;
}